body {
  font-family: Arial, sans-serif;
  font-size: 12px;
  background: url('https://i.ibb.co/j3G25jR/sheena.jpg') no-repeat center center fixed;
  background-size: contain; 
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  gap: 10px;
  background-color: #f1f1f1; 
  padding: 10px;
}
